.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__chef-content p {
    font-style: italic;
    color: var(--color-grey);
    text-transform: none;
}

.app__chef-content_quote img {
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.app__chef-sign {
    width: 100%;
    margin-top: 2rem;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
    margin-bottom: 0.5rem;
}

.app__chef-sign img {
    width: 250px;
    margin-top: 3rem;
}

@media screen and (max-width: 1024px) {
    .app__wrapper_info h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 425px) {
    .app__chef-sign img {
        width: 80%;
    }
}