.p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
}

.p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
}

.headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }

.app__bg{
    background: url('./assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__padding {
    padding: 3rem 15rem;
}

.app__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.app__wrapper_hashtags {
    flex: 0.05;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-right: 4rem;
}

.app__wrapper_hashtags p {
    writing-mode: vertical-rl;
    rotate: 180deg;
    padding: 1rem 0;
}

.app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;   
}

.app__wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
}

.app__wrapper_img img {
    width: 80%;
}

.spoon__img {
    width: 45px;
}

.custom__button {
    background-color: var(--color-golden);
    color: var(--color-black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 2560px) {
    .section__padding {
        padding: 4rem 3rem 4rem 1.5rem
    }
}

@media screen and (max-width: 1024px) {
    .app__wrapper_img {
        margin: 3rem 0 3rem 2rem;
    }

    .app__wrapper_img-reverse {
        margin: 0 1.5rem 5rem 0;
    }

    .app__wrapper_img img {
        width: 90%;
    }

    .app__wrapper_hashtags {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
}